- require 'haml_tumblr'

!!! 5
%html
  %head
    %title
      = tumblr :title
    %link{ :rel => 'shortcut icon',
      :href => tumblr(:favicon) }
    = tumblr :description do
      %meta{ :name => 'description',
        :content => tumblr(:meta_description) }
  %body
    %h1
      = tumblr :title
    = tumblr :description do
      %p#description
        = tumblr :description
    %ol#posts
      = tumblr :posts do
        = tumblr :text do
          %li.post.text
            = tumblr :title do
              %h3
                %a{ :href => tumblr(:permalink) }
                  = tumblr :title              
              = tumblr :body
        = tumblr :photo do
          %li.post.photo
            %img{ :src => tumblr("photo_url-500"),
              :alt => tumblr(:photo_alt) }
            = tumblr :caption do
              .caption
                = tumblr :caption
        = tumblr :photoset do
          %li.post.photoset
            = tumblr "photoset-500"
            = tumblr :caption do
              .caption
                = tumblr :caption
        = tumblr :quote do
          %li.post.quote
            "#{tumblr :quote}"
            = tumblr :source do
              .source
                = tumblr :source
        = tumblr :link do
          %li.post.link
            %a{ :href => tumblr(:url), :class => 'link' }
              = tumblr :name
        = tumblr :chat do
          %li.post.chat
            = tumblr :title do
              %h3
                %a{ :href => tumblr(:permalink) }
                  = tumblr :title
            %ul.chat
              = tumblr :lines do
                %li{ :class => "#{tumblr :alt } user_#{tumblr :user }" }
                  = tumblr :label do
                    %span.label
                      = tumblr :label
        = tumblr :video do
          %li.post.video
            = tumblr 'video-500'
            = tumblr :caption do
              .caption
                = tumblr :caption
        = tumblr :audio do
          %li.post.audio
            = tumblr :audio_player_black
            = tumblr :caption do
              .caption
                = tumblr :caption
    %p.footer
      = tumblr :previous_page do
        %a{ :href => tumblr(:previous_page) }
          « Previous
      = tumblr :next_page do
        %a{ :href => tumblr(:next_page) }
          Next »
      %a{ :href => '/archive' }
        Archive
